@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="nl">
<head>
    <title>Homepage</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>
<body class="body">
    <header class="mainheader">
        <img src="~/img/logo_06.png" />
        <nav><ul>
        <li><a href="#">Home</a></li>  
        <li><a href="#">Producten</a></li>  
        <li><a href="#">Over ons</a></li>  
        <li><a href="#">Contact</a></li>  
        <li><a href="#">Inloggen</a></li>    
        </ul></nav>
    </header>

    <div class="mainContent">
        <div class="content">
            <article class="topcontent">
            <header>
                <h2><a href="#" title="First post">Eerste blok</a></h2>
            </header> 
           
            <footer>
            <p class="post-info">Tekst voor ernaast met andere style</p>
            </footer>

            <content>
           <p>Hier komt tekst te staan over welke producten het best verkocht worden, hier komen ook plaatjes bij te staan en kun je op klikken</p>
                <p>Hier komt tekst te staan over welke producten het best verkocht worden, hier komen ook plaatjes bij te staan en kun je op klikken</p>

            </content>
            </article>
        
    </div>
        <aside class="top-sidebar"></aside>
</body>
</html>
