@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Overons</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Views/Home/StyleSheet1.css" />
</head>
<body>
    <div>
        <p><h2>OVER ONS</h2></p>
        <p><cite>Wij houden ons aan de seizoensgroenten en -fruit van Hollandse bodem. Het maakt ons trots op onze producten!</cite></p>
              <p>Greenery is een familiebedrijf gevestigd in Bleiswijk, dat gespecialiseerd is in productie van biologische groenten en fruit.</p>
              <p>We hebben ervaring van meer dan drie generaties in de biologische productie. Daarom garanderen wij biologische producten van kwaliteit, die worden gekenmerkt door zijn heerlijk smaak, gezond en vrij van schadelijke chemische stoffen.</p>
              <p>Onze doelstellingen zijn om de markt te stimuleren, iedereen toegang te geven tot biologische producten op een eenvoudige en directe manier, en de mens op de hoogte houden van biologische voedsel en landbouw. </p>
              <p>We bieden een ruim assortiment aan, onder andere de zogenaamde vergeten groenten. Die zijn groenten dat ‘vroeger’ heel normaal waren in het Nederlandse menu maar tegenwoordig vrijwel niet meer voorkomen en zelfs onbekend zijn bij een groot publiek.</p>
              <p>De lange ervaring in verschillende markten in de regio en onze klanten, dient als een grote steun en bemoedigen ons jaar na jaar om onze producten en diensten te verbeteren. Daarom bieden wij nu ook de mogelijkheid om onze producten via internet te bestellen.</p>
     </div>
    <div>

    </div>
</body>
</html>
