@{
    ViewBag.Title = "Producten";
}

<html>
<head>
    <title> <h2>Producten</h2> </title>

    <link rel="stylesheet" type="text/css" href="StyleProducten.css">

</head>

<body>
    <div id="menuzijkant">

    </div>

</body>
</html>